*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.home {
  background-color: #e4e4e4;
  width: 100vw;
  height: 100vh;
  /* padding: 28.9rem 5rem; */
  background-image: url("../../assets/react.svg"); }
