@import "../abstracts/variabels";
@import "../abstracts/mixns";
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @include respond(tablet-land) {
    font-size: 55%;
  }
  @include respond(tablet-port) {
    font-size: 50%;
  }
  @include respond(small-phone) {
    font-size: 45%;
  }
}
body {
  box-sizing: border-box;
  font-family: "Poppins";
}
.link {
  text-decoration: none;
  list-style: none;
  color: $color-gry-very-dark;
}
