.heading {
  &-primary {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-gry-very-dark;
    letter-spacing: 0.5rem;
  }

  &-secondery {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-gry-very-dark;
  }
  &-tertiary {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: $color-black-light;
  }
}
