.u-margin-bottom-big {
  margin-bottom: 2rem;
}
.wraber-posation-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.background-color {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tex-wraber {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-white {
  color: $color-gry-light;
}
.wraber {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.u-algn-center {
  margin: 0 auto;
}
