$color-primary: #e1e5e8;

$color-white: #ffffff;
$color-white-dark: #fefefe;
$color-background-main: #efefeff6;
$color-primary-blue: #10346c;
$color-gry-light: #e4e4e4;
$color-gry-dark: #b9b9b9;
$color-gry-very-dark: #707070;
$color-grine: #a4fca8;
$color-black: #000;
$color-black-light: #1b1b1be6;
$color-red: #e38251;

$shado: 0 1rem 3rem rgba(0, 0, 0, 0.4);
