.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(136, 136, 136, 0.535),
      rgba(154, 154, 154, 0.18)
    ),
    url("../assets/login.jpg");
  background-size: cover;
  object-fit: cover;
}
