.singleIssue {
  position: relative;
  margin: 0 auto;
  background-color: $color-background-main;
  width: 70%;
  padding: 5rem 7.5rem;
  color: $color-gry-very-dark;

  &__ditails {
    display: flex;

    // align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__tage {
    font-size: 3rem;
    text-transform: capitalize;
  }
  &__button-wraber {
    width: 50%;
  }
}

//*popup
.popup {
  width: 80%;
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 1.5rem 0.75rem;
  background-color: $color-background-main;
  z-index: 1000;
  border-radius: 1rem;
  &__wraper {
    margin: 0.75rem 1.5rem;
  }
}
