*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Poppins"; }

.link {
  text-decoration: none;
  list-style: none;
  color: #707070; }

.heading-secondery {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #707070; }

.u-margin-bottom-big {
  margin-bottom: 2rem; }

.wraber-posation-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; }

.background-color {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.tex-wraber {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.btn-white {
  color: #e4e4e4; }

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(136, 136, 136, 0.535), rgba(154, 154, 154, 0.18)), url("../assets/login.jpg");
  background-size: cover;
  object-fit: cover; }

.dashBoard {
  background-color: #ececec;
  height: 100vh; }

.register {
  width: 60%;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 3px; }
  .register__box {
    width: 50%; }
    .register__box:not(:last-child) {
      margin-right: 1.5rem; }
  .register__heading {
    width: 90%; }
  .register__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form__grop {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
  .form__input {
    color: inherit;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #a4fca8; }
    .form__input::-webkit-input-placeholder {
      color: #b9b9b9; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #f8641a; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

#signin-img {
  width: 100%;
  object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }

.btn--blue {
  background-color: #10346c;
  color: #ffffff; }

.btn-smull {
  padding: 1.5rem 1.5rem;
  background-color: transparent; }

.btn__small {
  padding: 0.5rem 1rem; }

.nav {
  height: 100%;
  width: 10rem;
  background-color: #10346c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem; }
  .nav__logo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #e4e4e4; }
  .nav__img {
    width: 80%; }
  .nav__continer {
    height: 25rem;
    width: 10rem;
    margin-top: 10rem; }
  .nav__link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .nav__items {
    color: #e4e4e4;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer; }
