*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 55%; } }
  @media (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media (max-width: 21.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  font-family: "Poppins"; }

.link {
  text-decoration: none;
  list-style: none;
  color: #707070; }

.heading-primary {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #707070;
  letter-spacing: 0.5rem; }
  @media (max-width: 50em) {
    .heading-primary {
      font-size: 4.2rem; } }
  @media (max-width: 31.5em) {
    .heading-primary {
      font-size: 2.2rem; } }

.heading-secondery {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #707070; }

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #1b1b1be6; }
  @media (max-width: 50em) {
    .heading-tertiary {
      font-size: 2.2rem; } }

.u-margin-bottom-big {
  margin-bottom: 2rem; }

.u-margin-bottom-x-big {
  margin-bottom: 4rem; }

.u-margin-small {
  margin: 0.75rem 1.5rem; }

.u-margin-top-big {
  margin-top: 4rem; }

.u-margin-right-small {
  margin-right: 1rem; }

.wraber-posation-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; }

.background-color {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.tex-wraber {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.btn-white {
  color: #e4e4e4; }

.btn-red {
  background-color: #d11a2a; }

.btn-gren {
  background-color: #a4fca8; }

.wraber {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.wraber-row {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.u-algn-center {
  margin: 0 auto; }

.u-align--cinter {
  display: flex;
  align-items: center;
  justify-content: center; }

.u-display-block {
  display: block; }

.u-position-absolut {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.u-dark-wraber {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 7000;
  backdrop-filter: blur(10px); }

.box-size-medium {
  height: 7rem; }

.u-padding {
  padding: 2rem 1.7rem; }

.u-border-radius {
  border-radius: 1rem; }

#u-witdth-full {
  width: 100%; }

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(136, 136, 136, 0.535), rgba(154, 154, 154, 0.18)), url("../assets/login.jpg");
  background-size: cover;
  object-fit: cover; }

.dashBoard {
  background-color: #efefeff6;
  min-height: 100vh;
  display: flex;
  margin-left: 10.1rem;
  padding: 2rem 0; }
  @media (max-width: 75em) {
    .dashBoard {
      margin-left: 5rem; } }
  .dashBoard__continer {
    width: 90%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    margin-left: 10rem; }
    @media (max-width: 75em) {
      .dashBoard__continer {
        margin-left: 1rem;
        width: 100%; } }
  .dashBoard__tekets-wraber {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    padding: 0 0 0 3rem; }
    @media (max-width: 75em) {
      .dashBoard__tekets-wraber {
        grid-gap: 0.5rem; } }
    @media (max-width: 31.5em) {
      .dashBoard__tekets-wraber {
        margin: 0 auto; } }
  .dashBoard__emptey {
    width: 90vw;
    height: 77.5vh;
    display: flex;
    align-items: center;
    justify-content: center; }

.singleIssue {
  position: relative;
  margin: 0 auto;
  background-color: #efefeff6;
  width: 70%;
  padding: 5rem 7.5rem;
  color: #707070; }
  .singleIssue__ditails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .singleIssue__tage {
    font-size: 3rem;
    text-transform: capitalize; }
  .singleIssue__button-wraber {
    width: 50%; }

.popup {
  width: 80%;
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 1.5rem 0.75rem;
  background-color: #efefeff6;
  z-index: 1000;
  border-radius: 1rem; }
  .popup__wraper {
    margin: 0.75rem 1.5rem; }

.register {
  width: 60%;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 3px; }
  .register__box {
    width: 50%; }
    .register__box:not(:last-child) {
      margin-right: 1.5rem; }
    @media (max-width: 56em) {
      .register__box {
        width: 80%; } }
    @media (max-width: 31.5em) {
      .register__box {
        width: 100%;
        padding: 0 2rem; } }
  .register__heading {
    width: 90%; }
  .register__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b9b9b9; }
  .form__grop {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    .form__grop-tow {
      width: 100%;
      display: flex;
      flex-direction: column; }
  .form__input {
    color: inherit;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    @media (max-width: 21.5em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #a4fca8; }
    .form__input::-webkit-input-placeholder {
      color: #b9b9b9;
      text-transform: uppercase; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #e38251; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem); }

#signin-img {
  width: 100%;
  object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }

.btn--blue {
  background-color: #10346c;
  color: #ffffff; }

.btn--orange {
  background-color: #e38251;
  color: #ffffff; }

.btn-smull {
  padding: 1.5rem 1.5rem;
  background-color: transparent; }

.btn__small {
  padding: 1rem 1.5rem;
  display: inline-block;
  width: 10rem; }

.btn__x-small {
  padding: 0.5rem 1rem;
  display: inline-block;
  width: 10rem;
  font-size: 1rem; }

.btn--large {
  padding: 1.5rem 6rem;
  margin-top: 2rem; }

.btn--medium {
  padding: 1.5rem 3rem;
  margin-top: 2rem; }

.btn__close {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 2.6rem;
  border: none;
  cursor: pointer;
  background: none; }

.btn__icon {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background: none; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  background: linear-gradient(to bottom, #c3c3c3, #8e9eab);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .nav {
      width: 6rem; } }
  .nav__logo {
    object-fit: cover;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #1b1b1be6;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 0 0; }
    @media (max-width: 75em) {
      .nav__logo {
        width: 4rem;
        height: 4rem;
        margin: 3rem 0.5rem 0 0; } }
  .nav__img {
    width: 5rem; }
    @media (max-width: 75em) {
      .nav__img {
        width: 3rem; } }
  .nav__continer {
    height: 25rem;
    width: 12rem;
    margin-top: 10rem; }
    @media (max-width: 75em) {
      .nav__continer {
        width: 5.5rem; } }
  .nav__link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .nav__items {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b1b1be6;
    list-style: none;
    text-decoration: none;
    margin-left: 0.75rem;
    cursor: pointer;
    transition: all 0.8s; }
    @media (max-width: 75em) {
      .nav__items {
        flex-direction: column;
        width: 3rem; } }
  .nav__items:hover {
    transform: scale(1.1); }
  .nav__name {
    margin-left: 0.5rem; }
    @media (max-width: 75em) {
      .nav__name {
        display: none; } }

.ticket {
  width: 25rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fefefe;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem; }
  @media (max-width: 50em) {
    .ticket {
      width: 40rem; } }
  @media (max-width: 45em) {
    .ticket {
      width: 32rem; } }
  .ticket__discription {
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.25rem 0; }
    @media (max-width: 50em) {
      .ticket__discription {
        font-size: 1.75rem;
        font-weight: 600; } }
  .ticket__ditails {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 200; }
    @media (max-width: 50em) {
      .ticket__ditails {
        font-size: 1.75rem;
        font-weight: 600; } }

.createTicket {
  margin: 5.5rem auto; }
  .createTicket__grop {
    display: flex;
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between; }
    @media (max-width: 21.5em) {
      .createTicket__grop {
        flex-direction: column; } }
  .createTicket__dubel {
    width: 100%;
    margin-bottom: 1.5rem; }
    @media (max-width: 21.5em) {
      .createTicket__dubel {
        width: 100%; } }
  .createTicket__trepe {
    width: 33%; }
  .createTicket__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left; }
