.createTicket {
  margin: 5.5rem auto;

  &__grop {
    display: flex;
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
  }
  &__dubel {
    width: 53%;
    margin-bottom: 1.5rem;
  }
  &__trepe {
    width: 33%;
  }
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
}
