.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  background: linear-gradient(to bottom, #c3c3c3, #8e9eab);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: $shado;
  @include respond(tablet-land) {
    width: 6rem;
  }

  &__logo {
    object-fit: cover;
    box-shadow: $shado;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: $color-black-light;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 0 0;
    @include respond(tablet-land) {
      width: 4rem;
      height: 4rem;
      margin: 3rem 0.5rem 0 0;
    }
  }
  &__img {
    width: 5rem;
    @include respond(tablet-land) {
      width: 3rem;
    }
  }
  &__continer {
    height: 25rem;
    width: 12rem;
    margin-top: 10rem;
    @include respond(tablet-land) {
      width: 5.5rem;
    }
  }
  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__items {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-black-light;
    list-style: none;
    text-decoration: none;
    margin-left: 0.75rem;
    cursor: pointer;
    transition: all 0.8s;
    @include respond(tablet-land) {
      flex-direction: column;
      width: 3rem;
    }
  }
  &__items:hover {
    transform: scale(1.1);
  }
  &__name {
    margin-left: 0.5rem;
    @include respond(tablet-land) {
      display: none;
    }
  }
}
